container {
    display: flex
}

.formStyles {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 40px auto;
    padding: 20px;
    background-color: #EC2A22;
    border-radius: 4px;
    cursor: pointer;
}

.whiteColor {
    background-color: white;
}