.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    height: 60px;
    background-color: rgb(205, 43, 43)
}

.logoTipo{
    background-color: rgb(255, 255, 255);
    height: auto;
    width: auto;
    border-radius: 10px;
}

.logoImagem {
  width: 150px;      /* ou qualquer tamanho desejado */
  height: auto;
  margin: 5px ;      /* mantém a proporção */
}